<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929449334198-rfrkjeja9pbnqig2p95k5u4v22rt71oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929449334198-rfrkjeja9pbnqig2p95k5u4v22rt71oc</string>
	<key>API_KEY</key>
	<string>AIzaSyBIrqMxA2rBASrm-QTs7t8qUeYpgjvlKv4</string>
	<key>GCM_SENDER_ID</key>
	<string>929449334198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-e32c1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-e32c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929449334198:ios:b41b95f3b3320a89631d17</string>
</dict>
</plist>